<% if logged_in? %>
  <div class="center jumbotron">
    <h1>Search for all the ice cream you want!</h1>
  </div>
  <div class="row">
    <h2>Search for an icecream store</h2>
    <form>
      <div class="form-group">
        <label for="storeName">Store Name</label>
        <input type="text" name="storename" class="form-control" placeholder="Input store name">
      </div>
      <div class="form-group">
        <label for="location">Location</label>
        <input type="text" name="location" class="form-control" placeholder="Input city, zipcode, or other location data">
        <button type="submit" class="btn btn-default">Submit</button>
      </div>
    </form>
  </div>

<% else %>
  <div class="center jumbotron">
    <h1>Welcome to the Ice Cream App</h1>
    <h2>
      This is the home page for getting all the ice cream you want!
    </h2>

    <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
  </div>
<% end %>
