
<div class="row">
    <h2>Your stats</h2>
    <span><%= @user.name %></span>
    <span><%= @user.email %></span>
  </div>
  <div class="row">
    <h3>How much ice cream you ate...</h3>
    <div>
      <img src="#">
      <span>Show some charts here -- user DC.js</span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h3>Your favorite stores</h3>
      <div>
        <ul>
          <li>List stores here - use Angular!</li>
        </ul>    
      </div>
    </div>
    <div class="col-md-6">
      <h3>Your Highest ratest stores / Other high ratest stores</h3>
    </div>
  </div>

