<% if logged_in? %>
  <div class="row">
    <h2>Your stats</h2>
    <span><%= @user.name %></span>
    <span><%= @user.email %></span>
  </div>
  <div class="row" ng-controller="StatsCtrl">
    <h3>Your check-in history</h3>
    <div class="row chart">
      <nvd3-line-chart
        data="checkInCounts"
        showXAxis="true"
        showYAxis="true"
        tooltips="true"
        margin="{left:50,top:50,bottom:50,right:50}"
        x="xFunction()"
        xAxisTickFormat="xAxisTickFormat"
        interactive="true"><svg></svg>
      </nvd3-line-chart>
    </div>
    <div class="row">
      <div class="col-md-5 col-md-offset-1">
        <table class="table table-striped">
          <thead>
            <tr>
              <td>Shop Name</td>
              <td>Count of Check Ins</td>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="x in checkInsByStore">
                <td>{{ x.shop }}</td>
                <td>{{ x.count }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-5 col-md-offset-1">
        <h3>Your favorite stores</h3>
        <div>
          <% @user.favorite_shops.each do |shop| %>
            <li><%= IcecreamShop.find(shop.shop_id).name %></li>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
