<div class="row">
  <h1>All of your check ins</h1>
  <% @check_ins.each do |check_in| %>
  <ul>
    <li><%= check_in.shop_id %></li>
    <li><%= check_in.factual_id %></li>
    <li><%= check_in.created_at %></li>
  </ul>
    <% end %>
</div>
